1-Big-O/9--Big-O-Different-Terms-For-Inputs.mp4
1-Big-O/9--Big-O-Different-Terms-For-Inputs.srt
1-Big-O/10--Big-O-Vectors.mp4
1-Big-O/10--Big-O-Vectors.srt
1-Big-O/11--Big-O-Wrap-Up.mp4
1-Big-O/11--Big-O-Wrap-Up.srt
2-Pointers-&-Classes/1--Pointers.mp4
2-Pointers-&-Classes/1--Pointers.srt
2-Pointers-&-Classes/2--Classes.mp4
2-Pointers-&-Classes/2--Classes.srt
3-Data-Structures-Linked-Lists/2--LL-Big-O.mp4
3-Data-Structures-Linked-Lists/2--LL-Big-O.srt
3-Data-Structures-Linked-Lists/4--LL-Constructor.mp4
3-Data-Structures-Linked-Lists/4--LL-Constructor.srt
3-Data-Structures-Linked-Lists/4-2-SOLUTION-LL-Constructor.cpp
3-Data-Structures-Linked-Lists/6--LL-Print-List.mp4
3-Data-Structures-Linked-Lists/6--LL-Print-List.srt
3-Data-Structures-Linked-Lists/7--LL-Destructor.mp4
3-Data-Structures-Linked-Lists/7--LL-Destructor.srt
3-Data-Structures-Linked-Lists/8--LL-Append.mp4
3-Data-Structures-Linked-Lists/8--LL-Append.srt
3-Data-Structures-Linked-Lists/8-2-SOLUTION-LL-Append.cpp
3-Data-Structures-Linked-Lists/9--LL-Delete-Last-(Intro).mp4
3-Data-Structures-Linked-Lists/9--LL-Delete-Last-(Intro).srt
3-Data-Structures-Linked-Lists/10--LL-Delete-Last-(Code).mp4
3-Data-Structures-Linked-Lists/10--LL-Delete-Last-(Code).srt
3-Data-Structures-Linked-Lists/10-2-SOLUTION-LL-DeleteLast.cpp
3-Data-Structures-Linked-Lists/11--LL-Delete-Last-(Rewrite).mp4
3-Data-Structures-Linked-Lists/11--LL-Delete-Last-(Rewrite).srt
3-Data-Structures-Linked-Lists/11-2-SOLUTION-LL-DeleteLastRW.cpp
3-Data-Structures-Linked-Lists/12--LL-Prepend.mp4
3-Data-Structures-Linked-Lists/12--LL-Prepend.srt
3-Data-Structures-Linked-Lists/12-2-SOLUTION-LL-Prepend.cpp
3-Data-Structures-Linked-Lists/13--LL-Delete-First.mp4
3-Data-Structures-Linked-Lists/13--LL-Delete-First.srt
3-Data-Structures-Linked-Lists/13-2-SOLUTION-LL-DeleteFirst.cpp
3-Data-Structures-Linked-Lists/14--LL-Get.mp4
3-Data-Structures-Linked-Lists/14--LL-Get.srt
3-Data-Structures-Linked-Lists/14-2-SOLUTION-LL-Get.cpp
3-Data-Structures-Linked-Lists/15--LL-Set.mp4
3-Data-Structures-Linked-Lists/15--LL-Set.srt
3-Data-Structures-Linked-Lists/15-2-SOLUTION-LL-Set.cpp
3-Data-Structures-Linked-Lists/16--LL-Insert.mp4
3-Data-Structures-Linked-Lists/16--LL-Insert.srt
3-Data-Structures-Linked-Lists/16-2-SOLUTION-LL-Insert.cpp
3-Data-Structures-Linked-Lists/17--LL-Delete-Node.mp4
3-Data-Structures-Linked-Lists/17--LL-Delete-Node.srt
3-Data-Structures-Linked-Lists/17-2-SOLUTION-LL-DeleteNode.cpp
3-Data-Structures-Linked-Lists/18--LL-Reverse.mp4
3-Data-Structures-Linked-Lists/18--LL-Reverse.srt
3-Data-Structures-Linked-Lists/18-2-SOLUTION-LL-Reverse.cpp
4-Data-Structures-Doubly-Linked-Lists/1--DLL-Constructor.mp4
4-Data-Structures-Doubly-Linked-Lists/1--DLL-Constructor.srt
4-Data-Structures-Doubly-Linked-Lists/1-2-SOLUTION-DLL-Constructor.cpp
4-Data-Structures-Doubly-Linked-Lists/2--DLL-Append.mp4
4-Data-Structures-Doubly-Linked-Lists/2--DLL-Append.srt
4-Data-Structures-Doubly-Linked-Lists/2-2-SOLUTION-DLL-Append.cpp
4-Data-Structures-Doubly-Linked-Lists/3--DLL-Delete-Last.mp4
4-Data-Structures-Doubly-Linked-Lists/3--DLL-Delete-Last.srt
4-Data-Structures-Doubly-Linked-Lists/3-2-SOLUTION-DLL-DeleteLast.cpp
4-Data-Structures-Doubly-Linked-Lists/4--DLL-Prepend.mp4
4-Data-Structures-Doubly-Linked-Lists/4--DLL-Prepend.srt
4-Data-Structures-Doubly-Linked-Lists/4-2-SOLUTION-DLL-Prepend.cpp
4-Data-Structures-Doubly-Linked-Lists/5--DLL-Delete-First.mp4
4-Data-Structures-Doubly-Linked-Lists/5--DLL-Delete-First.srt
4-Data-Structures-Doubly-Linked-Lists/5-2-SOLUTION-DLL-DeleteFirst.cpp
4-Data-Structures-Doubly-Linked-Lists/6--DLL-Get.mp4
4-Data-Structures-Doubly-Linked-Lists/6--DLL-Get.srt
4-Data-Structures-Doubly-Linked-Lists/6-2-SOLUTION-DLL-Get.cpp
4-Data-Structures-Doubly-Linked-Lists/7--DLL-Set.mp4
4-Data-Structures-Doubly-Linked-Lists/7--DLL-Set.srt
4-Data-Structures-Doubly-Linked-Lists/7-2-SOLUTION-DLL-Set.cpp
4-Data-Structures-Doubly-Linked-Lists/8--DLL-Insert.mp4
4-Data-Structures-Doubly-Linked-Lists/8--DLL-Insert.srt
4-Data-Structures-Doubly-Linked-Lists/8-2-SOLUTION-DLL-Insert.cpp
4-Data-Structures-Doubly-Linked-Lists/9--DLL-Delete-Node.mp4
4-Data-Structures-Doubly-Linked-Lists/9--DLL-Delete-Node.srt
4-Data-Structures-Doubly-Linked-Lists/9-2-SOLUTION-DLL-DeleteNode.cpp
5-Data-Structures-Stacks-&-Queues/1--Stack-Intro.mp4
5-Data-Structures-Stacks-&-Queues/1--Stack-Intro.srt
5-Data-Structures-Stacks-&-Queues/2--Stack-Constructor.mp4
5-Data-Structures-Stacks-&-Queues/2--Stack-Constructor.srt
5-Data-Structures-Stacks-&-Queues/2-2-SOLUTION-Stack-Constructor.cpp
5-Data-Structures-Stacks-&-Queues/3--Stack-Push.mp4
5-Data-Structures-Stacks-&-Queues/3--Stack-Push.srt
5-Data-Structures-Stacks-&-Queues/3-2-SOLUTION-Stack-Push.cpp
5-Data-Structures-Stacks-&-Queues/4--Stack-Pop.mp4
5-Data-Structures-Stacks-&-Queues/4--Stack-Pop.srt
5-Data-Structures-Stacks-&-Queues/4-2-SOLUTION-Stack-Pop.cpp
5-Data-Structures-Stacks-&-Queues/5--Queue-Intro.mp4
5-Data-Structures-Stacks-&-Queues/5--Queue-Intro.srt
5-Data-Structures-Stacks-&-Queues/6--Queue-Constructor.mp4
5-Data-Structures-Stacks-&-Queues/6--Queue-Constructor.srt
5-Data-Structures-Stacks-&-Queues/6-2-SOLUTION-Queue-Constructor.cpp
5-Data-Structures-Stacks-&-Queues/7--Queue-Enqueue.mp4
5-Data-Structures-Stacks-&-Queues/7--Queue-Enqueue.srt
5-Data-Structures-Stacks-&-Queues/7-2-SOLUTION-Queue-Enqueue.cpp
5-Data-Structures-Stacks-&-Queues/8--Queue-Dequeue.mp4
5-Data-Structures-Stacks-&-Queues/8--Queue-Dequeue.srt
5-Data-Structures-Stacks-&-Queues/8-2-SOLUTION-Queue-Dequeue.cpp
6-Data-Structures-Hash-Tables/1--Hash-Table-Intro.mp4
6-Data-Structures-Hash-Tables/1--Hash-Table-Intro.srt
6-Data-Structures-Hash-Tables/2--HT-Collisions.mp4
6-Data-Structures-Hash-Tables/2--HT-Collisions.srt
6-Data-Structures-Hash-Tables/3-2-SOLUTION-HT-Constructor.cpp
6-Data-Structures-Hash-Tables/4--HT-Hash-Function.mp4
6-Data-Structures-Hash-Tables/4--HT-Hash-Function.srt
6-Data-Structures-Hash-Tables/4-2-SOLUTION-HT-Hash.cpp
6-Data-Structures-Hash-Tables/5--HT-Set.mp4
6-Data-Structures-Hash-Tables/5--HT-Set.srt
6-Data-Structures-Hash-Tables/5-2-SOLUTION-HT-Set.cpp
6-Data-Structures-Hash-Tables/6-2-SOLUTION-HT-Get.cpp
6-Data-Structures-Hash-Tables/7-2-SOLUTION-HT-Keys.cpp
6-Data-Structures-Hash-Tables/8--HT-Big-O.mp4
6-Data-Structures-Hash-Tables/8--HT-Big-O.srt
6-Data-Structures-Hash-Tables/9--HT-Interview-Question.mp4
6-Data-Structures-Hash-Tables/9--HT-Interview-Question.srt
7-Data-Structures-Trees/1--Trees-Intro-&-Terminology.mp4
7-Data-Structures-Trees/1--Trees-Intro-&-Terminology.srt
7-Data-Structures-Trees/2--Binary-Search-Trees-Example.mp4
7-Data-Structures-Trees/2--Binary-Search-Trees-Example.srt
7-Data-Structures-Trees/3--BST-Big-O.mp4
7-Data-Structures-Trees/3--BST-Big-O.srt
7-Data-Structures-Trees/4--BST-Constructor.mp4
7-Data-Structures-Trees/4--BST-Constructor.srt
7-Data-Structures-Trees/4-2-SOLUTION-BST-Constructor.cpp
7-Data-Structures-Trees/5--BST-Insert---Intro.mp4
7-Data-Structures-Trees/5--BST-Insert---Intro.srt
7-Data-Structures-Trees/6--BST-Insert---Code.mp4
7-Data-Structures-Trees/6--BST-Insert---Code.srt
7-Data-Structures-Trees/6-2-SOLUTION-BST-Insert.cpp
7-Data-Structures-Trees/8-2-SOLUTION-BST-Contains.cpp
8-Algorithms-Recursion/1--Recursion-Intro.mp4
8-Algorithms-Recursion/1--Recursion-Intro.srt
8-Algorithms-Recursion/2--Call-Stack.mp4
8-Algorithms-Recursion/2--Call-Stack.srt
8-Algorithms-Recursion/3--Factorial.mp4
8-Algorithms-Recursion/3--Factorial.srt
9-Algorithms-Basic-Sorts/1--Bubble-Sort-Intro.mp4
9-Algorithms-Basic-Sorts/1--Bubble-Sort-Intro.srt
9-Algorithms-Basic-Sorts/2--Bubble-Sort-Code.mp4
9-Algorithms-Basic-Sorts/2--Bubble-Sort-Code.srt
9-Algorithms-Basic-Sorts/2-2-SOLUTION-BubbleSort.cpp
9-Algorithms-Basic-Sorts/3--Selection-Sort-Intro.mp4
9-Algorithms-Basic-Sorts/3--Selection-Sort-Intro.srt
9-Algorithms-Basic-Sorts/4--Selection-Sort-Code.mp4
9-Algorithms-Basic-Sorts/4--Selection-Sort-Code.srt
9-Algorithms-Basic-Sorts/4-2-SOLUTION-SelectionSort.cpp
9-Algorithms-Basic-Sorts/5--Insertion-Sort-Intro.mp4
9-Algorithms-Basic-Sorts/5--Insertion-Sort-Intro.srt
9-Algorithms-Basic-Sorts/6--Insertion-Sort-Code.mp4
9-Algorithms-Basic-Sorts/6--Insertion-Sort-Code.srt
9-Algorithms-Basic-Sorts/6-2-SOLUTION-InsertionSort.cpp
9-Algorithms-Basic-Sorts/7--Insertion-Sort-Big-O.mp4
9-Algorithms-Basic-Sorts/7--Insertion-Sort-Big-O.srt
10-Algorithms-Merge-Sort/1--Merge-Sort-Overview.mp4
10-Algorithms-Merge-Sort/1--Merge-Sort-Overview.srt
10-Algorithms-Merge-Sort/2--Merge-Intro-(1).mp4
10-Algorithms-Merge-Sort/2--Merge-Intro-(1).srt
10-Algorithms-Merge-Sort/3--Merge-Intro-(2).mp4
10-Algorithms-Merge-Sort/3--Merge-Intro-(2).srt
10-Algorithms-Merge-Sort/4--Merge-Code-(1).mp4
10-Algorithms-Merge-Sort/4--Merge-Code-(1).srt
10-Algorithms-Merge-Sort/5--Merge-Code-(2).mp4
10-Algorithms-Merge-Sort/5--Merge-Code-(2).srt
10-Algorithms-Merge-Sort/5-2-SOLUTION-Merge.cpp
10-Algorithms-Merge-Sort/6--Merge-Sort-Intro.mp4
10-Algorithms-Merge-Sort/6--Merge-Sort-Intro.srt
10-Algorithms-Merge-Sort/7--Merge-Sort-Code.mp4
10-Algorithms-Merge-Sort/7--Merge-Sort-Code.srt
10-Algorithms-Merge-Sort/7-2-SOLUTION-MergeSort.cpp
10-Algorithms-Merge-Sort/8--Merge-Sort-Big-O.mp4
10-Algorithms-Merge-Sort/8--Merge-Sort-Big-O.srt
12-Algorithms-Quick-Sort/1--Quick-Sort-Intro.mp4
12-Algorithms-Quick-Sort/1--Quick-Sort-Intro.srt
12-Algorithms-Quick-Sort/2--Pivot-Intro.mp4
12-Algorithms-Quick-Sort/2--Pivot-Intro.srt
12-Algorithms-Quick-Sort/3--Pivot-Code.mp4
12-Algorithms-Quick-Sort/3--Pivot-Code.srt
12-Algorithms-Quick-Sort/3-2-SOLUTION-Pivot.cpp
12-Algorithms-Quick-Sort/4--Quick-Sort-Code.mp4
12-Algorithms-Quick-Sort/4--Quick-Sort-Code.srt
12-Algorithms-Quick-Sort/4-2-SOLUTION-QuickSort.cpp
12-Algorithms-Quick-Sort/5--Quick-Sort-Big-O.mp4
12-Algorithms-Quick-Sort/5--Quick-Sort-Big-O.srt
13-Algorithms-Tree-Traversal/2--BFS-(Breadth-First-Search)-Intro.mp4
13-Algorithms-Tree-Traversal/2--BFS-(Breadth-First-Search)-Intro.srt
13-Algorithms-Tree-Traversal/3-2-SOLUTION-BFS.cpp
13-Algorithms-Tree-Traversal/4--DFS-(Depth-First-Search)-PreOrder---Intro.mp4
13-Algorithms-Tree-Traversal/4--DFS-(Depth-First-Search)-PreOrder---Intro.srt
13-Algorithms-Tree-Traversal/5-2-SOLUTION-DFS-PreOrder.cpp
13-Algorithms-Tree-Traversal/6--DFS-PostOrder---Intro.mp4
13-Algorithms-Tree-Traversal/6--DFS-PostOrder---Intro.srt
13-Algorithms-Tree-Traversal/7-2-SOLUTION-DFS-PostOrder.cpp
13-Algorithms-Tree-Traversal/8--DFS-InOrder---Intro.mp4
13-Algorithms-Tree-Traversal/8--DFS-InOrder---Intro.srt
13-Algorithms-Tree-Traversal/9-2-SOLUTION-DFS-InOrder.cpp
11-Data-Structures-Graphs/1--Graph-Intro.mp4
11-Data-Structures-Graphs/1--Graph-Intro.srt
11-Data-Structures-Graphs/2--Graph-Adjacency-Matrix.mp4
11-Data-Structures-Graphs/2--Graph-Adjacency-Matrix.srt
11-Data-Structures-Graphs/3--Graph-Adjacency-List.mp4
11-Data-Structures-Graphs/3--Graph-Adjacency-List.srt
11-Data-Structures-Graphs/4--Graph-Unordered-Sets.mp4
11-Data-Structures-Graphs/4--Graph-Unordered-Sets.srt
11-Data-Structures-Graphs/5--Graph-Big-O.mp4
11-Data-Structures-Graphs/5--Graph-Big-O.srt
11-Data-Structures-Graphs/6--Graph-Add-Vertex.mp4
11-Data-Structures-Graphs/6--Graph-Add-Vertex.srt
11-Data-Structures-Graphs/6-2-SOLUTION-GR-AddVertex.cpp
11-Data-Structures-Graphs/7--Graph-Add-Edge.mp4
11-Data-Structures-Graphs/7--Graph-Add-Edge.srt
11-Data-Structures-Graphs/7-2-SOLUTION-GR-AddEdge.cpp
11-Data-Structures-Graphs/8--Graph-Remove-Edge.mp4
11-Data-Structures-Graphs/8--Graph-Remove-Edge.srt
11-Data-Structures-Graphs/8-2-SOLUTION-GR-RemoveEdge.cpp
11-Data-Structures-Graphs/9--Graph-Remove-Vertex.mp4
11-Data-Structures-Graphs/9--Graph-Remove-Vertex.srt
11-Data-Structures-Graphs/9-2-SOLUTION-GR-RemoveVertex.cpp
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
